* { padding: 0; margin: 0; }
body {
  background: url('paul.jpg') no-repeat center center fixed;
  background-size: cover;
}
p { color: #FFFFFF; font-family: Helvetica; font-size: 16px; line-height: 24px; margin-bottom: 22px; }
h1 { color: #FFFFFF; font-family: Helvetica; font-size: 28px; line-height: 32px; margin-bottom: 20px; }
a { color: #FFFFFF; font-weight: bold; text-decoration: none; }
#stuff { width: 500px; padding: 0 0 0 50px; margin: 50px auto 0 0 !important; }
ul { list-style: none; color: #FFFFFF; font-family: Helvetica; font-size: 16px; line-height: 24px; }
.p-note { color: lightblue; }
.link-group { margin-top: 22px; }
